[Unit]
Description=Jupyter Lab

[Service]
Environment="SHELL=/bin/bash"
Type=simple
PIDFile=/run/jupyter-lab.pid
ExecStart=/usr/local/bin/start_jupyter_lab
User=root
WorkingDirectory=/root/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
