[Unit]
Description=rclone: Remote FUSE filesystem for public data
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=root
Group=root
ExecStartPre=-/bin/mkdir -p /root/public
ExecStart= \
  /usr/bin/rclone mount \
    --config=/root/.config/rclone/rclone.conf \
    --read-only \
    --allow-other \
    --devname="%i" \
    public-data:%i /root/public
ExecStop=/bin/fusermount -u /root/public

[Install]
WantedBy=default.target