[Unit]
Description=Rclone Mount Public Data
After=network-online.target

[Mount]
Type=rclone
What=public-data:public
Where=/root/public
Options=config=/root/.config/rclone/rclone.conf,read-only,allow-other,devname=public
TimeoutSec=60

[Install]
WantedBy=multi-user.target